body {
  background-color: #e5e5ed;
  color: #101010;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #afafb1;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tr {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
}

.lead {
  cursor: pointer;
}

.nogrid {
  grid-column: 1/-1;
}

.expanded-lead {
  display: flex;
}

.expanded-lead__key {
  padding-right: 10px;
}

.loading {
  text-align: center;
  border: 1px solid #afafb1;
  padding: 10px 0;
}
